package components

import (
	"github.com/23St/trackstack/internal/calories"
	commonComponents "github.com/23St/trackstack/internal/common/components"
)

templ Dashboard(summary *calories.DailySummary) {
	@commonComponents.Layout("TrackStack - Dashboard") {
		<div class="container mx-auto px-4 py-8">
			<div class="max-w-md mx-auto">
				@DashboardMetrics(summary)
				@RecentMealsList(summary.RecentMeals, false)
			</div>
		</div>
	}
}
