package components

import "github.com/23St/trackstack/internal/calories"

templ DashboardMetrics(summary *calories.DailySummary) {
	<div id="dashboard-metrics" class="flex flex-col gap-6">
		<!-- Metrics Display -->
		<div class="flex flex-col gap-8">
			@MetricCard(summary.Calories, "kcal remaining", true)
			@MetricCard(summary.Protein, "g protein remaining", false)
		</div>
	</div>
}
